body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.light_text {
    font-weight: 300;
}

/* .flashes h4 {
    line-height: 2;
} */

.no_shadow {
    box-shadow: none !important;
}


a {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {

    .service_cards {
        display: none !important;
    }

    body {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    /*------ MAIN PAGE ------*/

    .title_wrap {
        width: 100%;
        height: 10%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;


    }

    .title {
        margin-bottom: 10px;
        color: #fff;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;


    }

    /*---SIGN IN/REGISTER BUTTONS---*/

    .btn_wrap {
        position: relative;
        height: 75%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;


    }

    #account_btn,
    #request_btn {
        position: relative;
        width: 320px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        background-color: transparent;
        border: none;
        border: 1px solid #9c9c845d;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;


    }

    .request_blurb {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        font-weight: 300;
    }

    .serviceUseText_wrap {
        width: 0%;
        height: 35px;
        bottom: 29%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background-color: #37454a9c;

    }

    .service_use_text {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 35px;
        text-align: center;

        opacity: 0;
    }

    .signin {
        width: 100%;

    }

    .service_icons {
        height: 75px;
    }


    /*------CLEANER ACCOUNT PAGE------*/


    .jobs {
        margin-bottom: 10px;
    }

    .main_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-bottom: auto;
        

    }


    /*------MAIN USERSIDE PAGE------*/

    .button_wrap__ipad,
    .services_wrap__desktop,
    .bottom_wrap__desktop {
        /*--hides elements from mobile view--*/
        display: none;
    }

    #user_body {
        overflow: hidden;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        flex-flow: column;

    }


    .userside_title {
        color: #fff;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;

    }

    .service_blurb {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }


    /*---SERVICE CAROUSEL---*/

    .slick_wrap {
        width: 100%;
        height: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;


    }

    .basic_clean_wrap,
    .deep_clean_wrap,
    .moving_in_out_wrap {
        width: 100%;
        height: 100%;
        margin-top: 11px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;

    }

    .basic_clean_image,
    .deep_clean_image,
    .moving_in_out_image {
        position: relative;
        margin: auto;
        height: 120px;
    }

    .basic_clean_title,
    .deep_clean_title,
    .moving_in_out_title {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin: 13px 0px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb,
    .moving_in_out_blurb {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        margin: 0;

    }


    .button_wrap {
        position: relative;
        width: 100%;
        height: 15%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

    }

    .next_button,
    .previous_button {
        position: relative;
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: none;


    }

    .next_button {
        margin-right: 20px;
    }

    .previous_button {
        margin-left: 20px;
        background-color: transparent;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 27px;
        opacity: 0.3;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .to_select_service_text {
        color: #EDC681;
        text-align: center;
        font-size: 0.8em;
    }

    #basic_clean_button,
    #deep_clean_button,
    #moving_button {
        position: absolute;
        width: 0px;
        height: 75px;
        align-self: center;
        bottom: 19%;
        border: none;
        border: 2px solid #EDC681;
        background-color: #edc58144;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        left: 35px;

        display: none;

    }

    .select_text {
        display: none;
    }

    /*-------BASIC CLEAN REQUEST PAGE-------*/

    #basic_clean_body,
    #deep_clean_body {
        display: flex;
        align-items: center;
        flex-flow: column;
        overflow: hidden;

    }

    /*-----TOP CONTENTS-----*/
    .top_contents_wrapper__deepclean,
    .top_contents_wrapper__basiclean {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        flex-flow: column;
    }


    .customer_details_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 300;

    }

    .back_button {
        position: absolute;
        left: 20px;
        height: 30px;
    }

    #text_tag {
        text-align: center;
        width: 98px;
        color: #fff;
        font-size: 12px;
        padding: 3px;
        margin: 20px 0px;
        background-color: #b45f1993;
    }

    /*-----//  TOP CONTENTS-----*/

    /*-------CUSTOMER DETAILS FORM-------*/

    .form_wrap {
        height: 90%;
        display: flex;

    }

    #basicClean_details_form,
    #deepClean_details_form {
        width: 100%;
        height: 85%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-bottom: 35px;
    }


    .customer_details_blurb,
    .deep_clean_text {
        color: #fff;
        width: 300px;
        font-weight: 300;
        text-align: center;
        align-self: center;

    }

    input {
        margin-bottom: -20px !important;
    }

    .all_inputs {
        color: #fff;
    }


    .choice_buttons {
        display: flex;
        margin-bottom: 15px;
        flex-flow: row;
        justify-content: space-evenly;


    }

    .service_choice_buttons {
        width: 95px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        align-self: center;
        background-color: transparent;
        border: none;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Lato', sans-serif;

    }

    #deep_clean_choice {
        margin: 15px 0px;
    }

    .datepicker {
        color: #EDC681;
    }

    .message_box {
        margin: 0 auto;
        width: 85%;
        height: 150px;
        margin-bottom: 25px;
        display: flex;
        background-color: #3b494c4d;
        color: #fff;
        text-align: center;
        overflow: auto;

        border: 1px solid #3B494C;
    }

    #submit_basicclean_form,
    #submit_deepclean_form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 45px;
        bottom: 40px;
        align-self: center;
        background-color: #3B494C;
        border: none;
        border: 1px solid #3B494C;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        cursor: pointer;

    }

    .flash_wrap_request_sent {
        position: absolute;
        margin: auto 0;
        width: 100%;
        height: 85%;

    }


    .request_flash_message {
        position: relative;
        color: #fff;
        width: 100%;
        height: 100% !important;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        background-color: #fff;
    }

    .request_flash_text {
        color: #fff;
        font-size: 22px;
        font-weight: bolder;

    }

    .requested_info {
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;

    }

    .requested_name {
        color: #fff;
    }

    .flash_request_btns {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .flash_btns {
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #3B494C;
        border: none;
        color: #fff;
        font-weight: 300;
        font-size: 13px;
        font-family: 'Lato', sans-serif;


    }

    .flash_icons {
        height: 20px;
    }


    /*-------DEEP CLEAN REQUEST PAGE-------*/

    #deep_clean_body {
        overflow: hidden;
    }

    .checkbox_wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

    }

    .checkboxes_1,
    .checkboxes_2 {
        margin-bottom: 10px;
        width: 48%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin: auto;

    }

    .checkboxes_2 {
        align-items: flex-start;
    }


    #deepClean_details_form {
        justify-content: space-evenly;
        height: 100%;
    }

    #submit_deepclean_form {
        height: 45px;
    }

    /*-------MOVING IN/OUT PAGE-------*/

    /* .moving_form_wrap {
        height: 90%;
        width: 85%;

    }

    .moving_form {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .moving_form_inputs {
        color: #fff;
    }

    .moving_checkbox {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-evenly;

    }

    .moving_in_wrap,
    .moving_out_wrap {
        height: 150px;
        width: 90px;
        position: relative;
        margin-top: 35px;
        display: flex;
        justify-content: space-evenly;

    }

    .moving_in_check,
    .moving_out_check {
        position: absolute;
        width: 90px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        align-self: flex-end;
        border: 1px solid #9c9c847c;
        overflow: hidden;


    }


    .moving_text {
        width: 100%;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }

    .moving_in_icon,
    .moving_out_icon {
        position: relative;
        height: 30px;
    }

    .moving_out_icon {
        left: -85px;

    }

    #submit_moving_form {
        position: absolute;
        bottom: 15%;
        width: 290px;
        height: 50px;
        background-color: transparent;
        background-color: #3B494C;
        border: none;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;

    } */

    /*-------MOVING CONFIRMATION PAGE-------*/

    /* .moving_confirm_details {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: 0;

    }

    .movingInOut {
        color: #fff;
        text-align: center;
    }

    .moving_detail {
        color: #fff;
        margin: 0;
        font-weight: 300;
        text-align: center;
    }

    .request_from {
        width: 100%;
        padding: 5px;
        background-color: #fff;
    }

    .request_from_name {
        color: #000;
        margin: 0;
        text-transform: uppercase;
    }

    .moving_user_contact {
        margin: 0;
        text-align: center;
    } */

    /*------AUTO EMAIL------*/

    .auto_email_body {
        width: 100%;
        height: 100%;
        background-color: #3B494C;
        color: #fff;
    }

    /*-------REPLY TO REQUEST PAGE-------*/

    .send_request_text {
        color: #fff;
    }















    /*-------SIGN IN PAGE-------*/


    #cleaner_acc_body {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .back_btn,
    .back_btn_smaller {
        position: absolute;
        top: 25px;
        left: 0;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        width: 75px;
        height: 30px;

        /* ; */

    }

    .back_btn_smaller {
        top: 12px;

    }

    .home_icon_smaller {
        position: absolute;
        height: 25px;
        left: 20%;
    }

    .home_icon {
        position: absolute;
        height: 30px;
        left: 30%;
    }


    .title_blurb {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        opacity: 0.7;
        margin: 0;
    }

    /*---SIGN IN FORM---*/

    .signinform {
        position: absolute;
        z-index: 22;
    }

    .input-field {
        width: 100%;
        display: flex;


    }


    .signin_bg {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .bg_image {
        position: absolute;
        height: 100%;
        width: 100%;
        filter: brightness(60%);
    }

    .signin_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50%;
    }

    #username,
    #password {
        color: #fff;
        position: relative;
        margin: 0 auto;
        display: flex;
        z-index: 5;
        border-bottom: 1px solid #9C9C84;
        width: 100%;
    }



    #sign_in_btn,
    #register_cleaner_btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 50px;
        margin: 200px auto 0px;
        background-color: #3b494c3b;
        border: none;
        border-top: 2px solid #9c9c8463;
        border-bottom: 2px solid #9c9c8463;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        font-family: 'Lato', sans-serif;



    }

    #register_cleaner_btn {
        margin: 15px auto 0px;
        background-color: #3b494c3b;


    }


    /*---PROVIDED CLEANING SERVICE---*/

    .type_of_service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .cards_wrap {
        padding: 0;
    }

    .service_blurb {
        margin: 5px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 17px;
        opacity: 0.7;

    }

    .service_cards {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        height: 135px;
        width: 100px;
        background-color: transparent;
        border: none;

    }

    .service_card_title,
    .service_card_blurb {
        color: #fff;
        text-align: center;
    }

    .service_card_blurb {
        font-weight: 300;
    }

    .basic_clean_tag {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        width: 100%;
        text-align: center;

    }

    #submit_reg_form_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 50px;
        margin: 0 auto;
        background-color: transparent;
        border: 1px solid #9C9C84;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    }

    .flash_messages_register {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 5% !important;
        width: 100%;
        height: 50px;
        left: 0;
        font-size: 20px;
        background-color: #3B494C;

    }

    .username_flash_message,
    .registered_flash_messages {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: red;
    }


    .flash_text {
        color: #000;
        font-size: 22px;
        font-weight: 300;
        line-height: 2 !important;
        margin: 0 !important;
    }

    /*-------PROFILE PAGE-------*/

    #accountBody {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .top_contents_account {
        width: 100%;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-flow: column;
        margin-top: 25px;

    }

    .account_title {
        color: #fff;
        margin: 0;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;

        opacity: 0;

    }

    .cleaner_acc_tag {
        text-align: center;
        width: 98px;
        color: #fff;
        font-size: 12px;
        padding: 3px;
        margin-top: 10px;
        background-color: #b45f1993;

        opacity: 0;
    }

    .avatar_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 100%;

    }

    .avatar_border {
        height: 80px;
        width: 80px;
        display: flex;
        margin-top: 25px;

        border: 2px solid #b45f19;
    }

    .avatar {
        height: 70px;
        width: 70px;
        margin: auto;
    }

    #username_display {
        color: #fff;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        background-color: #b45f1993;
        text-transform: capitalize;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    /*---PENDING JOBS---*/

    .pending_jobs_blurb {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 400;

    }

    .pending_jobs_text {
        color: #fff;
        margin: 0 0 10px 0;
        opacity: 0.7;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }


    .pending_jobs {
        width: 94%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: none;
        z-index: 5;
        box-shadow: none !important;


    }

    .job_card {
        position: relative;
        width: 290px;
        height: 45px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3B494C;
        color: #fff;

    }

    .deep_clean_card {
        position: relative;
        background-color: #3B494C;

    }

    .deep_clean_tag {
        position: relative;
        right: 5px;
        width: 65px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        padding: 1px 5px;
        background-color: #9C9C84;

    }

    .basic_clean_tag {
        position: relative;
        right: 5px;
        width: 65px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        padding: 1px 5px;
        background-color: #b45f19;

    }

    .pending_jobs_wrap {
        height: 70%;
        display: flex;
        align-items: center;
        flex-flow: column;
        width: 86%;
        margin-bottom: auto;
        border: 2px solid #b45f19;
        overflow: auto;

    }


    .request_name_header {
        color: #fff;
        text-align: center;
    }

    .request_info_wrap {
        height: 100% !important;

    }

    .request_info_card {
        background-color: #3B494C;
        height: 89%;

    }

    .request_info {
        color: #fff;
        margin: 0;
        background-color: #3B494C;
        text-align: center;
        border-top: 1px solid #b45f19;
    }

    .request_title {
        font-weight: 600;
    }

    .deep_clean_section {
        width: 100%;
        background-color: #fff;


    }

    .info_headers {
        font-weight: 600;
        /* text-decoration: underline; */
    }

    .job_card_btn_wrap {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 15% !important; */

    }

    .replyto_btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #000;

    }

    .respond_to_user {
        width: 85%;
        height: 40px;
        color: #fff;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
        cursor: pointer;
    }


    .request_item_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        background-color: #3B494C;
        border: none;
    }

    .confirmation_flash {
        position: absolute;
        bottom: 65px;
        color: #fff;
        width: 80%;
        height: 50px;
        background-color: transparent;
        border: 1px solid #fff;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }





}

@media only screen and (min-width: 768px) {

    /*------MAIN PAGE------*/

    .service_btns {
        width: 500px !important;
        height: 200px !important;
    }

    /*------SERVICES PAGE------*/

    .slick_wrap {
        display: flex !important;
        align-items: center;
        justify-content: center !important;
    }

    .basic_clean_blurb,
    .deep_clean_blurb {
        font-size: 18px;
    }

    .to_select_service_text {
        font-size: 1em;
    }

    /*------BASIC CLEAN PAGE------*/

    .customer_details_title {
        font-size: 25px;
    }

    .customer_details_blurb {
        font-size: 17px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {


    .slick_wrap,
    .button_wrap__ipad,
    .button_wrap {
        display: none !important;
    }


    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*------MAIN PAGE------*/

    .top_contents_wrapper {
        height: 10%;

    }

    .title_wrap {
        margin-bottom: auto;
        height: 10%;
    }


    .btn_wrap {
        margin-bottom: auto;
        flex-flow: row;
        height: 60%;


    }


    .service_btns {
        height: 600px !important;
        width: 614.391px !important;
        justify-content: center;
        border: none;
        border-left: 2px solid rgba(255, 255, 255, 0.342);
        border-right: 2px solid rgba(255, 255, 255, 0.342);
        cursor: pointer;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.017),
            0 6.7px 5.3px rgba(0, 0, 0, 0.024),
            0 12.5px 10px rgba(0, 0, 0, 0.03),
            0 22.3px 17.9px rgba(0, 0, 0, 0.036),
            0 41.8px 33.4px rgba(0, 0, 0, 0.043),
            0 100px 80px rgba(0, 0, 0, 0.06);

    }

    .service_icons {
        height: 200px;
    }


    .btn_text {
        font-size: 22px;
        margin-top: 30px;
        padding: 5px 15px;
        background-color: #3B494C;
    }

    /*---SERVICE CONTENTS---*/

    .service_blurb {
        margin: 0;

    }

    .services_wrap__desktop {
        width: 100%;
        height: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 100;


    }

    .services_wrap {
        width: 100%;
        height: 60%;
        margin: auto;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;

    }

    .service_cards {
        height: 100%;
        width: 32%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-left: 2px solid rgba(255, 255, 255, 0.342);
        border-right: 2px solid rgba(255, 255, 255, 0.342);
        cursor: pointer;
        border-radius: 0px;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.017),
            0 6.7px 5.3px rgba(0, 0, 0, 0.024),
            0 12.5px 10px rgba(0, 0, 0, 0.03),
            0 22.3px 17.9px rgba(0, 0, 0, 0.036),
            0 41.8px 33.4px rgba(0, 0, 0, 0.043),
            0 100px 80px rgba(0, 0, 0, 0.06);
    }

    .basic_clean_wrap__desktop,
    .deep_clean_wrap__desktop,
    .moving_in_out_wrap__desktop {
        width: 33.33%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
        border-radius: 0px;
        background: linear-gradient(145deg, #16242d, #131f26);
        box-shadow: 5px 5px 10px #142027,
            -5px -5px 10px #16242d;
    }

    /*------BASIC CLEAN PAGE------*/


    .request_flash_messagess {
        width: 50%;
        align-self: center;
    }

    .flash_wrap_request_sent  {
        width: 25%;
        background-color: transparent !important;
        border-left: 1px solid #9C9C84;
        border-right: 1px solid #9C9C84;
    }

    .request_flash_message  {
        margin: 0;
        background-color: transparent;
        border-left: 1px solid #9C9C84;
        border-right: 1px solid #9C9C84;
    }

    .requested_info {
       height: 80%; 
    }


    /*------CLEANER ACCOUNT PAGE------*/


    #cleaner_acc_body {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .main_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-bottom: auto;
        /* margin-top: 20px; */

    }


    .pending_jobs_wrap {
        width: 25%;
        overflow: auto;
        margin-bottom: auto;
    }

    .confirmation_flash {
        position: absolute;
        bottom: 100px;
        color: #fff;
        width: 20%;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
    }

    .confirmation_text {
        width: 100%;
        height: 100%;
        margin: auto;

        opacity: 0;

    }





}


#account_btn:hover,
#request_btn:hover {
    box-shadow: none;
}

.service_cards:hover {
    box-shadow: none;
}

#submit_basicclean_form:active {
    box-shadow: none;
}