body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}


.light_text {
    font-weight: 300;
}


a {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {

    .service_cards {
        display: none !important;
    }

    body {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    /*------ MAIN PAGE ------*/

    .title_wrap {
        width: 100%;
        height: 10%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;


    }

    .title {
        margin-bottom: 10px;
        color: #fff;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;


    }

    .service_icons {
        height: 75px;
    }

    .btn_wrap {
        position: relative;
        height: 75%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;


    }

    #account_btn,
    #request_btn {
        position: relative;
        width: 320px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        background-color: transparent;
        border: none;
        border: 1px solid #9c9c845d;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;


    }

    .request_blurb {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        font-weight: 300;
    }



    /*------CLEANER ACCOUNT PAGE------*/


    .button_wrap__ipad,
    .services_wrap__desktop,
    .bottom_wrap__desktop {
        /*--hides elements from mobile view--*/
        display: none;
    }


    .jobs {
        margin-bottom: 10px;
    }

    .basic_clean_tag {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        width: 100%;
        text-align: center;

    }


    .main_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-bottom: auto;

    }



    #services_body {
        overflow: hidden;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        flex-flow: column;

    }


    .services_title {
        color: #fff;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;

    }

    .service_blurb {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }


    /*---SERVICE CAROUSEL---*/

    .slick_wrap {
        width: 100%;
        height: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;


    }

    .basic_clean_wrap,
    .deep_clean_wrap {
        width: 100%;
        height: 100%;
        margin-top: 11px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;

    }

    .basic_clean_image,
    .deep_clean_image {
        position: relative;
        margin: auto;
        height: 120px;
    }

    .basic_clean_title,
    .deep_clean_title {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin: 13px 0px;
    }

    .basic_clean_blurb,
    .deep_clean_blurb {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        margin: 0;

    }


    .button_wrap {
        position: relative;
        width: 100%;
        height: 15%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

    }

    .next_button,
    .previous_button {
        position: relative;
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: none;


    }

    .next_button {
        margin-right: 20px;
    }

    .previous_button {
        margin-left: 20px;
        background-color: transparent;

    }

    .next_arrow_icon,
    .previous_arrow_icon {
        height: 27px;
        opacity: 0.3;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .to_select_service_text {
        color: #EDC681;
        text-align: center;
        font-size: 0.8em;
    }



    /*-------BASIC CLEAN REQUEST PAGE-------*/

    #basic_clean_body,
    #deep_clean_body {
        display: flex;
        align-items: center;
        flex-flow: column;
        overflow: hidden;

    }

    /*-----TOP CONTENTS-----*/
    .top_contents_wrapper__deepclean,
    .top_contents_wrapper__basiclean {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        flex-flow: column;
    }


    .customer_details_title {
        color: #EDC681;
        margin: 0;
        font-size: 22px;
        font-weight: 300;

    }


    #text_tag {
        text-align: center;
        width: 98px;
        color: #fff;
        font-size: 12px;
        padding: 3px;
        margin: 20px 0px;
        background-color: #b45f1993;
    }


    /*-------BASIC REQUEST FORM-------*/

    .form_wrap {
        height: 90%;
        display: flex;


    }

    #basicClean_details_form,
    #deepClean_details_form {
        width: 100%;
        height: 85%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

    }


    .customer_details_blurb,
    .deep_clean_text {
        color: #fff;
        width: 300px;
        font-weight: 300;
        text-align: center;
        align-self: center;

    }

    input {
        margin-bottom: -20px !important;
    }

    .all_inputs {
        color: #fff;
    }



    .datepicker {
        color: #EDC681;
    }


    #submit_basicclean_form,
    #submit_deepclean_form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 290px;
        height: 45px;
        align-self: center;
        background-color: #3B494C;
        border: none;
        border: 1px solid #3B494C;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        cursor: pointer;

    }

    .request_edited_text {
        text-align: center;
    }

    .flash_wrap_request_sent {
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
        background-color: transparent !important;
        border-bottom: 2px solid #9C9C84;
        border-top: 2px solid #9C9C84;

    }

    .flash_wrap_request_edited {
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        background-color: #fff;
        font-weight: 300;
        z-index: 100;
    }

    .requested_name {
        color: #fff;
    }


    .request_flash_message {
        position: relative;
        color: #fff;
        width: 100%;
        height: 100% !important;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        background-color: transparent;
    }

    .request_flash_text {
        color: #fff;
        font-size: 22px;
        font-weight: bolder;

    }

    .requested_info {
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;

    }


    .flash_request_btns {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .flash_btns {
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #3B494C;
        border: none;
        color: #fff;
        font-weight: 300;
        font-size: 13px;
        font-family: 'Lato', sans-serif;


    }

    .flash_icons {
        height: 20px;
    }


    /*-------DEEP CLEAN REQUEST PAGE-------*/

    #deep_clean_body {
        overflow: hidden;
    }

    .checkbox_wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

    }

    .checkboxes_1,
    .checkboxes_2 {
        margin-bottom: 10px;
        width: 48%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin: auto;

    }

    .checkboxes_2 {
        align-items: flex-start;
    }


    #deepClean_details_form {
        justify-content: space-evenly;
        height: 100%;
    }


    /*------AUTO EMAIL------*/

    .auto_email_body {
        width: 100%;
        height: 100%;
        background-color: #3B494C;
        color: #fff;
    }



    /*-------CLEANER ACCOUNT PAGE-------*/


    #cleaner_acc_body {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .back_btn,
    .back_btn_smaller {
        position: absolute;
        top: 25px;
        left: 0;
        display: flex;
        align-items: center;
        width: 75px;
        height: 30px;

    }

    .pending_jobs_wrap {
        height: 70%;
        display: flex;
        align-items: center;
        flex-flow: column;
        width: 86%;
        margin-bottom: auto;
        border: 2px solid #b45f19;
        overflow: auto;

    }

    .pending_jobs {
        width: 94%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: none;
        z-index: 5;
        box-shadow: none !important;

    }


    .deep_clean_tag,
    .basic_clean_tag {
        position: relative;
        right: 5px;
        width: 65px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        padding: 1px 5px;
        background-color: #9C9C84;

    }

    .basic_clean_tag {
        background-color: #b45f19;

    }

    .request_info {
        color: #fff;
        margin: 0;
        background-color: #3B494C;
        text-align: center;
        border-top: 1px solid #b45f19;
    }

    .info_headers {
        font-weight: 600;
    }

    .back_btn_smaller {
        top: 12px;

    }

    .home_icon_smaller {
        position: absolute;
        height: 25px;
        left: 20%;
    }

    .home_icon {
        position: absolute;
        height: 30px;
        left: 30%;
    }


    .title_blurb {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        opacity: 0.7;
        margin: 0;
    }


    .input-field {
        width: 100%;
        display: flex;

    }

    .registered_flash_messages {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: red;
    }


    .flash_text {
        color: #000;
        font-size: 22px;
        font-weight: 300;
        line-height: 2 !important;
        margin: 0 !important;
    }

    .respond_to_user {
        width: 85%;
        height: 40px;
        color: #fff;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
        cursor: pointer;
    }


    .request_item_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        background-color: #3B494C;
        border: none;
    }


    /*---SERVICES PAGE---*/


    .service_blurb {
        margin: 5px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 17px;
        opacity: 0.7;

    }

    .service_cards {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        height: 135px;
        width: 100px;
        background-color: transparent;
        border: none;

    }

    .service_card_title,
    .service_card_blurb {
        color: #fff;
        text-align: center;
    }

    .service_card_blurb {
        font-weight: 300;
    }


    .flash_wrap_request_deleted {
        position: relative;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 290px;
        margin: auto;
        bottom: 27px;

        opacity: 0;
    }

}

@media only screen and (min-width: 768px) {

    /*------MAIN PAGE------*/

    .service_btns {
        width: 500px !important;
        height: 200px !important;
    }

    /*------SERVICES PAGE------*/

    .slick_wrap {
        display: flex !important;
        align-items: center;
        justify-content: center !important;
    }

    .basic_clean_blurb,
    .deep_clean_blurb {
        font-size: 18px;
    }

    .to_select_service_text {
        font-size: 1em;
    }

    /*------BASIC CLEAN PAGE------*/

    .customer_details_title {
        font-size: 25px;
    }

    .customer_details_blurb {
        font-size: 17px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {


    .slick_wrap,
    .button_wrap__ipad,
    .button_wrap {
        display: none !important;
    }


    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*------MAIN PAGE------*/

    .top_contents_wrapper {
        height: 10%;

    }

    .title_wrap {
        margin-bottom: auto;
        height: 10%;
    }


    .btn_wrap {
        margin-bottom: auto;
        flex-flow: row;
        height: 60%;

    }

    #request_btn,
    #account_btn {
        height: 600px !important;
        width: 614.391px !important;
        justify-content: space-evenly;
        border: none;
        border-left: 2px solid rgba(255, 255, 255, 0.342);
        border-right: 2px solid rgba(255, 255, 255, 0.342);
        cursor: pointer;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.017),
            0 6.7px 5.3px rgba(0, 0, 0, 0.024),
            0 12.5px 10px rgba(0, 0, 0, 0.03),
            0 22.3px 17.9px rgba(0, 0, 0, 0.036),
            0 41.8px 33.4px rgba(0, 0, 0, 0.043),
            0 100px 80px rgba(0, 0, 0, 0.06);

    }

    .service_icons {
        height: 200px;
    }


    .btn_text {
        font-size: 22px;
        margin-top: 30px;
        padding: 5px 15px;
        background-color: #3B494C;
    }


    /*---SERVICE CONTENTS---*/

    .service_blurb {
        margin: 0;

    }

    .services_wrap {
        width: 100%;
        height: 60%;
        margin: auto;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;

    }

    .service_cards {
        height: 100%;
        width: 32%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-left: 2px solid rgba(255, 255, 255, 0.342);
        border-right: 2px solid rgba(255, 255, 255, 0.342);
        cursor: pointer;
        border-radius: 0px;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.017),
            0 6.7px 5.3px rgba(0, 0, 0, 0.024),
            0 12.5px 10px rgba(0, 0, 0, 0.03),
            0 22.3px 17.9px rgba(0, 0, 0, 0.036),
            0 41.8px 33.4px rgba(0, 0, 0, 0.043),
            0 100px 80px rgba(0, 0, 0, 0.06);
    }


    /*------BASIC CLEAN PAGE------*/


    .flash_wrap_request_edited {
        width: 20%;
        height: 50px;
        bottom: 50px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 300;
        border: 1px solid #fff;

        opacity: 0;
    }

    .request_flash_text {
        color: #fff;
    }

    .request_edited_text {
        opacity: 0;
    }


    .request_flash_messagess {
        width: 50%;
        align-self: center;
    }

    .flash_wrap_request_sent {
        width: 25%;
        height: 75%;
        padding: 0;
        background-color: transparent !important;
        border-left: 1px solid #9C9C84;
        border-right: 1px solid #9C9C84;
    }

    .request_flash_message {
        margin: 0;
        background-color: transparent;
        border-left: 1px solid #9C9C84;
        border-right: 1px solid #9C9C84;
    }

    .requested_info {
        height: 80%;
    }

    .requested_name {
        color: #fff;
    }

    #user_email {
        color: #fff;
    }

    .flash_request_btns {
        margin-bottom: 20px;
    }


    /*------CLEANER ACCOUNT PAGE------*/


    #cleaner_acc_body {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .main_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-bottom: auto;

    }


    .pending_jobs_wrap {
        width: 25%;
        overflow: auto;
        margin-bottom: auto;
    }

    .pending_jobs {
        width: 94%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: none;
        z-index: 5;
        box-shadow: none !important;

    }


    .confirmation_flash {
        position: absolute;
        bottom: 100px;
        color: #fff;
        width: 20%;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
    }

    .confirmation_text {
        width: 100%;
        height: 100%;
        margin: auto;

        opacity: 0;

    }

}


#account_btn:hover,
#request_btn:hover {
    box-shadow: none;
}

.service_cards:hover {
    box-shadow: none;
}

#submit_basicclean_form:active,
#submit_deepclean_form:active {
    box-shadow: none;
}