<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Clean Request</title>
    {% include 'components/head.html' %}
</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">



    <!--Flash messages-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages %}
    <section class="flash_wrap_request_sent">

        <div class="row flashes request_flash_message z-depth-3">
            <h1 class="center-align request_flash_text">{{ messages }}</h1>

            <div class="requested_info">
                <p class="requested_name">Name:<br><span class="light_text">{{basic_clean_details.user_name}}
                        {{basic_clean_details.user_lname}}</span></p>
                <p class="requested_name">Contact:<br><span
                        class="light_text">{{basic_clean_details.user_contact}}</span></p>
                <p class="requested_name">Address:<br><Span
                        class="light_text">{{basic_clean_details.user_street}}<br>{{basic_clean_details.user_postcode}}</Span>
                </p>
                <p class="requested_name">Cleaning Date:<br><span
                        class="light_text">{{basic_clean_details.user_date}}</span></p>
                <hr style="margin: 0; width: 290px;">
                <p class="requested_name">Cleaning Request:<br><span
                        class="light_text">{{basic_clean_details.user_message}}</span></p>


            </div>

            <div class="flash_request_btns">
                <a href="{{ url_for('edit_request', request_id=basic_clean_details._id) }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/edit_icon.png') }}" alt="" class="flash_icons">
                        Edit
                    </button>
                </a>

                <a href="{{ url_for('delete_request', request_id=basic_clean_details._id) }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/delete_icon_white.png') }}" alt=""
                            class="flash_icons">
                        Delete</button>
                </a>
                <a href="{{ url_for('services') }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/home_icon.png') }}" alt="" class="flash_icons">
                        Exit</button>
                </a>
            </div>
        </div>
    </section>

    {% endfor %}
    {% endif %}
    {% endwith %}


    <!--SCRIPTS-->
    {% include 'components/scripts.html' %}

    <script>
        // INITIALIZE DATEPICKER

        $('.datepicker').datepicker({
            format: "dd mmmm, yyyy",
            yearRange: 3,
            showClearBtn: true,
            i18n: {
                done: "select"
            }
        });
    </script>
</body>

</html>