<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid - Customer Details</title>
    {% include 'components/head.html' %}
</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <a href="{{ url_for('services') }}">
        <div class="back_btn_smaller" style="z-index: 100;">
            <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon_smaller">
        </div>
    </a>


    <!--TOP CONTENTS-->
    <div class="top_contents_wrapper__basiclean">
        <h1 class="customer_details_title">{{ title }}</h1>
        <p class="customer_details_blurb">Please
            fill out the form below and give a short description of your cleaning needs.</p>
    </div>


    <span id="text_tag">Basic Clean</span>


    <!--CUSTOMER DETAILS AND REQUEST FORM-->

    <div class="row form_wrap">
        <form class="col s12" id="basicClean_details_form" method="POST"
            action="{{ url_for('basic_clean_info', request_id=request._id) }}">
            <div class="row">
                <div class="input-field col s6">
                    <input id="user_name" name="user_name" type="text" class="all_inputs validate" required>
                    <label for="user_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_lname" name="user_lname" type="text" class="all_inputs validate" required>
                    <label for="user_lname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="user_street" name="user_street" type="text" class="all_inputs validate" required>
                    <label for="user_street">Street Name/Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_postcode" name="user_postcode" type="text" class="all_inputs validate" required>
                    <label for="user_postcode">Postcode</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="user_contact" name="user_contact" type="number" class="all_inputs validate" required>
                    <label for="user_contact">Contact Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_date" name="user_date" minlength="5" maxlength="50" type="text"
                        class="datepicker validate" required>
                    <label for="user_date">Click to pick date</label>
                </div>

            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="user_message" name="user_message"
                                class="all_inputs materialize-textarea" required></textarea>
                            <label for="user_message">Cleaning Request</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" id="submit_basicclean_form" class="z-depth-3">Request Cleaner</button>
        </form>
    </div>

    <!--Flash messages-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages %}
    <section class="flash_wrap_request_sent">

        <div class="row flashes request_flash_message z-depth-3">
            <h1 class="center-align request_flash_text">{{ messages }}</h1>

            <div class="requested_info">
                {% for request_info in basic_clean_details: %}
                <p class="requested_name">Name:<br>{{request_info.user_name}} {{request_info.user_lname}}</p>
                <p class="requested_name">Contact:<br>{{request_info.user_contact}}</p>
                <p class="requested_name">Address:<br>{{request_info.user_street}}<br>{{request_info.user_postcode}}</p>
                <p class="requested_name">Cleaning Date:<br>{{request_info.user_date}}</p>
                <hr style="margin: 0;">
                <p class="requested_name">Cleaning Request:<br>{{request_info.user_message}}</p>

                {% endfor %}

            </div>

            <div class="flash_request_btns">
                <a href="{{ url_for('edit_request', request_id=request._id) }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/edit_icon.png') }}" alt="" class="flash_icons">
                        Edit
                    </button>
                </a>
                <a href="{{ url_for('delete_request', request_id=request._id) }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/delete_icon_white.png') }}" alt=""
                            class="flash_icons">
                        Delete</button>
                </a>
                <a href="{{ url_for('services') }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/home_icon.png') }}" alt="" class="flash_icons">
                        Exit</button>
                </a>
            </div>
        </div>
    </section>

    {% endfor %}
    {% endif %}
    {% endwith %}


    <!--SCRIPTS-->
    {% include 'components/scripts.html' %}

    <script>
        // INITIALIZE DATEPICKER

        $('.datepicker').datepicker({
            format: "dd mmmm, yyyy",
            yearRange: 3,
            showClearBtn: true,
            i18n: {
                done: "select"
            }
        });

        
    </script>
</body>

</html>