<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Cleaner Account</title>
    {% include 'components/head.html' %}


</head>

<body id="cleaner_acc_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <a href="{{ url_for('index') }}">
        <div class="back_btn" style="z-index: 100;">
            <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon">
        </div>
    </a>


    <div class="main_title_wrap">
        <h3 class="title">oneHourmaid</h3>
        <p class="title_blurb">Below are your pending jobs.<br>Click on a job to view more details.</p>
        <span id="text_tag">Cleaner Account</span>

    </div>




    <div class="pending_jobs_wrap">

        <!--Basic clean jobs-->

        <ul class="collapsible pending_jobs">

            <!--Deep clean jobs-->

            {% for detail in deep_clean_details: %}
            <li class="jobs">
                <div class="collapsible-header request_item_header">
                    {{ detail.user_name }} {{ detail.user_lname }}
                    <span class="deep_clean_tag">Deep Clean</span>
                    <label>
                        <input type="checkbox" id="status" name="status" />
                        <span></span>
                    </label>

                </div>

                <div class="collapsible-body request_info">

                    <div class="row">
                        <span class="row info_headers">Name:<br>
                            <span class="light_text info_text" id="customer_address">
                                {{ detail.user_name }} {{ detail.user_lname }}</span>
                        </span><br>
                        <span class="row info_headers">Address:<br>
                            <span class="light_text info_text" id="customer_address">
                                {{ detail.user_street }}<br>{{ detail.user_postcode }}</span>
                        </span><br>

                        <span class="info_headers">Contact Number:<br>
                            <span class="light_text info_text" id="customer_contact">{{ detail.user_contact }}</span>
                        </span><br>
                    </div>

                    <span class="info_headers row customer_request_style">Deep Clean Request:<br>
                        <span class="light_text italic_text" id="customer_request">{{detail.carpet_clean}}<br>
                            {{detail.floor_steam}}<br>{{detail.white_goods}}<br>{{detail.window_clean}}</span>
                    </span><br>

                    <span class="info_headers">Cleaning Date:<br>
                        <span class="light_text italic_text" id="customer_request">{{ detail.user_date }}</span>
                    </span><br>
                    <hr>
                    <span class="info_headers">Request message:<br>
                        <span class="light_text italic_text" id="customer_request">{{ detail.user_message }}</span>
                    </span><br><br>


                </div>
            </li>
            {% endfor %}


            {% for basic_detail in basic_clean_details: %}
            <li class="jobs">
                <div class="collapsible-header request_item_header">
                    {{ basic_detail.user_name }} {{ basic_detail.user_lname }}
                    <span id="basic_clean_tag" class="basic_clean_tag">Basic Clean</span>
                    <label>
                        <input type="checkbox" id="status" name="status" />
                        <span></span>
                    </label>
                </div>

                <div class="collapsible-body request_info">

                    <div class="row">
                        <span class="row info_headers">Address:<br>
                            <span class="light_text info_text" id="customer_address">
                                {{ basic_detail.user_street }}</span>
                        </span><br>
                        <span class="info_headers">Contact Number:<br>
                            <span class="light_text info_text"
                                id="customer_contact">{{ basic_detail.user_contact }}</span>
                        </span><br>
                    </div>

                    <span class="info_headers row customer_request_style">Customer Request:<br>
                        <span class="light_text italic_text"
                            id="customer_request">{{ basic_detail.user_message }}</span>
                    </span><br>

                    <span class="info_headers">Cleaning Date:<br>
                        <span class="light_text italic_text" id="customer_request">{{ basic_detail.user_date }}</span>
                    </span><br><br>

                </div>
            </li>
            {% endfor %}

        </ul>


    </div>

    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes registered_flash_messages z-depth-2">
            <h4 class="center-align flash_text">{{ messages }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>


    {% include 'components/scripts.html' %}

    <script>
        // Delete post

        document.getElementById("status").onclick = function () {
            if (this.checked) {
                $('.basic_clean_tag').animate({
                    width: '90px'
                }, function () {
                    $('.basic_clean_tag').text("Job Complete")
                })
            } else {
                return false;
            }
        }
    </script>


</body>

</html>