<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid - Edit Details</title>
    {% include 'components/head.html' %}
</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <a href="{{ url_for('services') }}">
        <div class="back_btn_smaller" style="z-index: 100;">
            <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon_smaller">
        </div>
    </a>

    <div class="main_title">
        <h3 class="title">oneHourmaid</h3>
        <p class="title_blurb">Edit your request below.</p>
    </div>



    <!--TOP CONTENTS-->
    <div class="top_contents_wrapper__basiclean">
        <h1 class="customer_details_title">{{ title }}</h1>
        <p class="customer_details_blurb">Edit your request below</p>
    </div>


    <span id="text_tag">Edit Request</span>


    <!--CUSTOMER DETAILS AND REQUEST FORM-->

    <div class="row form_wrap">
        <form class="col s12" id="deepClean_details_form" method="POST" action="{{ url_for('edit_deepclean_request', deepclean_request_id=request._id) }}">
            <div class="row">
                <div class="input-field col s6">
                    <input id="user_name" name="user_name" type="text" class="all_inputs validate">
                    <label for="user_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_lname" name="user_lname" type="text" class="all_inputs validate">
                    <label for="user_lname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="user_street" name="user_street" type="text" class="all_inputs validate">
                    <label for="user_street">Street Name/Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_postcode" name="user_postcode" type="text" class="all_inputs validate">
                    <label for="user_postcode">Postcode</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="user_contact" name="user_contact" type="number" class="all_inputs validate">
                    <label for="user_contact">Contact Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_date" name="user_date" minlength="5" maxlength="50" type="text"
                        class="datepicker validate">
                    <label for="user_date">Choose a date</label>
                </div>
            </div>

            <p class="deep_clean_text">Please pick a specific Deep Clean. Or, for more specific requests, leave a
                message in the comment field below</p>
            <div class="checkbox_wrap">
                <div class="checkboxes_1">
                    <label>
                        <input id="indeterminate-checkbox carpet_clean" name="carpet_clean" value="Carpet Clean"
                            type="checkbox" />
                        <span>Carpet Clean</span>
                    </label>
                    <label>
                        <input id="indeterminate-checkbox floor_steam" name="floor_steam" value="Floor Steam"
                            type="checkbox" />
                        <span>Floor Steam</span>
                    </label>
                </div>
                <div class="checkboxes_2">
                    <label>
                        <input id="indeterminate-checkbox white_goods" name="white_goods" value="White Goods"
                            type="checkbox" />
                        <span>White Goods</span>
                    </label>
                    <label>
                        <input id="indeterminate-checkbox window_clean" name="window_clean" value="Window Clean"
                            type="checkbox" />
                        <span>Windows</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="user_message" name="user_message"
                                class="all_inputs materialize-textarea"></textarea>
                            <label for="user_message">Deep Clean Request</label>
                        </div>
                    </div>
                </div>
            </div>
            <button id="submit_deepclean_form" type="submit" class="z-depth-3">Edit Request</button>
        </form>
    </div>

    <section class="flash_wrap">
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes request_flash_messagess z-depth-2">
            <h1 class="center-align flash_text">{{ messages }}</h1>

            <div class="flash_request_btns">
                <a href="{{ url_for('edit_request', request_id=request._id) }}"><button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/edit_icon.png') }}" alt="" class="flash_icons">
                        Edit
                    </button>
                </a>
                <button class="flash_btns z-depth-2">
                    <img src="{{ url_for('static', filename='/images/delete_icon_white.png') }}" alt=""
                        class="flash_icons">
                    Delete</button>
                <a href="{{ url_for('services') }}">
                    <button class="flash_btns z-depth-2">
                        <img src="{{ url_for('static', filename='/images/home_icon.png') }}" alt="" class="flash_icons">
                        Exit</button>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>


    <!--SCRIPTS-->
    {% include 'components/scripts.html' %}

    <script>
        $('#user_message').on('blur', function () {
            $('#submit_basiclean_form').animate({
                opacity: '1'
            })
        })

        // INITIALIZE DATEPICKER

        $('.datepicker').datepicker({
            format: "dd mmmm, yyyy",
            yearRange: 3,
            showClearBtn: true,
            i18n: {
                done: "select"
            }
        });
    </script>
</body>

</html>