<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid - Cleaner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}

</head>

<body background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">

    <p class="service_use_text">Please select your use for the service.</p>


    <div class="main_title">
        <h3 class="title">oneHourmaid</h3>
        <span class="cleaner_acc_tag">Cleaner Account</span>
    </div>

    <!--Sign in/Register buttons-->
    <div class="btn_wrap">
        <a href="{{ url_for('signin_page') }}"> <button id="signin_btn" class="service_btns z-depth-4">
                <img src="/static/images/iamcleaner_icon.png" alt="" class="service_icons">
                Cleaner Account
            </button></a>
        <a href="{{ url_for('register') }}"> <button id="register_btn" class="service_btns z-depth-2">Register</button></a>
        <a href="{{ url_for('user_main') }}"> <button id="request_btn" class="service_btns z-depth-4">
                <img src="/static/images/requestcleaner_icon.png" alt="" class="service_icons">
                Request Cleaner
            </button></a>
    </div>
    <!--Analog Clock-->
    <div class="analog_clock">
        <div class="clock">
            <div class="clock_hour">
                <div class="hr" id="hr"></div>
            </div>
            <div class="clock_minute">
                <div class="mnt" id="mnt"></div>
            </div>
            <div class="clock_seconds">
                <div class="sec" id="sec"></div>
            </div>
        </div>
        <!--Digital Clock-->
        <div class="digital_clock">
            <span id="the_time"></span>
        </div>
    </div>


    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes flash_messages z-depth-2">
            <h4 class="center-align flash_text">{{ messages }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>


    <script src="http://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    <script type="text/javascript">
        // Digital time display
        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        function timeUpdate() {
            var grabDate = new Date();
            var theTime = document.getElementById("the_time");
            var hours = addZero(grabDate.getHours());
            var minutes = addZero(grabDate.getMinutes());
            theTime.innerHTML = hours + ":" + minutes;
        }
        setInterval(timeUpdate, 1000);

        // Analog Clock

        const deg = 6;
        const hr = document.querySelector('#hr');
        const mn = document.querySelector('#mnt');
        const sec = document.querySelector('#sec');
        setInterval(() => {
            let day = new Date();
            let hh = day.getHours() * 30;
            let mm = day.getMinutes() * deg;
            let ss = day.getSeconds() * deg;
            hr.style.transform = `rotateZ($ {
                    hh + (mm / 12)
                }
                deg)`;
            mn.style.transform = `rotateZ(${mm}deg)`;
            sec.style.transform = `rotateZ(${ss}deg)`;
        }, 1000);
    </script>

</body>

</html>