<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid</title>
    {% include 'components/head.html' %}
</head>

<body background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <div class="title_wrap">
        <h3 class="title">{{ title }}</h3>
    </div>

    <div class="btn_wrap">
        <a href="{{ url_for('services') }}"> <button id="request_btn" class="service_btns">
            <p class="request_blurb">Click here to make a cleaning request</p>

                <img src="/static/images/requestcleaner_icon.png" alt="Request Cleaner" class="service_icons">
                <span class="btn_text z-depth-2">Request Cleaner</span>
            </button></a>


        <a href="{{ url_for('cleaner_account') }}"> <button id="account_btn" class="service_btns">
            <p class="request_blurb">Or here to view any pending jobs</p>
                <img src="/static/images/iamcleaner_icon.png" alt="Cleaner Account" class="service_icons">
                <span class="btn_text z-depth-2">Cleaner Account</span>
            </button></a>
    </div>






    <!--Scripts from components-->
    {% include 'components/scripts.html' %}



</body>

</html>