<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid</title>
    {% include 'components/head.html' %}
</head>

<body background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <div class="title_wrap">
        <h3 class="title">{{ title }}</h3>
    </div>

    <!--Sign in/Register buttons-->


    <div class="btn_wrap">
        <a href="{{ url_for('services') }}"> <button id="request_btn" class="service_btns">
                <img src="/static/images/requestcleaner_icon.png" alt="" class="service_icons">
                <span class="btn_text z-depth-2">Request Cleaner</span>
            </button></a>


        <a href="{{ url_for('cleaner_account') }}"> <button id="signin_btn" class="service_btns">
                <img src="/static/images/iamcleaner_icon.png" alt="" class="service_icons">
                <span class="btn_text z-depth-2">Cleaner Account</span>
            </button></a>
    </div>



    <!--Flash messages-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages %}
    <section class="confirmation_flash z-depth-3">
        <p style="margin: 0;">Confirmation sent to user.</p>
    </section>

    {% endfor %}
    {% endif %}
    {% endwith %}



    <!--Scripts from components-->
    {% include 'components/scripts.html' %}

    <script>
        // Hide confirmation message

        $('.confirmation_flash').click(function () {
            $(this).css("display", "none")
        })
    </script>


</body>

</html>