<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{{ url_for('static', filename='/images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">

    <!--TOP CONTENTS-->
    <div class="top_contents_wrapper__basiclean">
        <h1 class="customer_details_title">Request Sent!</h1>
        <p class="customer_details_blurb">The request has been sent to a cleaner who will contact you shortly</p>
    </div>

    <div class="row moving_confirm_details">
        {% for moving_details in moving_details %}
        <div class="request_from">
            <h5 class="movingInOut request_from_name">{{ moving_details.name_moving }}</h5><br>
            <h6 class="moving_user_contact">{{ moving_details.contact_moving }}</h6>
        </div>
        <h5 class="movingInOut">{{ moving_details.moving_in }}</h5>
        <p class="moving_detail">{{ moving_details.street_moving }}<br>
            {{ moving_details.postcode_moving }}
        </p>
        <!-- <hr style="width: 290px; opacity: 0.7;"> -->
        <h5 class="movingInOut">Date needed for clean</h5>
        <p class="moving_detail">{{ moving_details.date_moving }}</p>
        {% endfor %}
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>

</body>

</html>