<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving In/Out</title>
  {% include 'components/head.html' %}


</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
  style="background-repeat: no-repeat; background-position: center; background-size: cover;">


  <a href="{{ url_for('user_main') }}">
    <div class="back_btn_smaller" style="z-index: 100;">
      <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon_smaller">
    </div>
  </a>


  <!--TOP CONTENTS-->
  <div class="top_contents_wrapper__basiclean">
    <h1 class="customer_details_title">{{ title }}</h1>
    <p class="customer_details_blurb">Please let us know the address of the property you would like us to visit.</p>


  </div>


  <span id="text_tag">Moving In/Out</span>


  <div class="row moving_form_wrap">
    <form class="col s12 moving_form" id="moving_form" method="POST" action="{{ url_for('moving_info') }}">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="street_moving" name="street_moving" class="moving_form_inputs autocomplete">
          <label for="street_moving">Street name/no.</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="postcode_moving" name="postcode_moving" class="moving_form_inputs autocomplete">
          <label for="postcode_moving">Postcode</label>
        </div>
        <div class="input-field col s12">
          <input id="date_moving" name="date_moving" minlength="5" maxlength="50" type="text"
            class="datepicker validate">
          <label for="date_moving">Moving date</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="name_moving" name="name_moving" class="moving_form_inputs autocomplete">
          <label for="name_moving">Your name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="contact_moving" name="contact_moving" class="moving_form_inputs autocomplete">
          <label for="contact_moving">Contact number</label>
        </div>

        <div class="moving_checkbox">

          <div class="moving_in_wrap">
            <span class="moving_text">Moving In?</span>
            <label class="moving_in_check z-depth-2" id="moving_in_checkbox">
              <input type="checkbox" name="moving_in" value="Moving In" />
              <span class="icon_checkbox">
                <img src="/static/images/moving_truck_icon.png" alt="" class="moving_in_icon">
              </span>
            </label>
          </div>

          <div class="moving_out_wrap">
            <span class="moving_text">Moving Out?</span>
            <label class="moving_out_check z-depth-2" id="moving_out_checkbox">
              <input type="checkbox" name="moving_out" value="Moving Out" />
              <span class="icon_checkbox">
                <img src="/static/images/moving_truck_icon.png" alt="" class="moving_out_icon">
              </span>
            </label>
          </div>

        </div>
      </div>
      <button type="submit" id="submit_moving_form" class="z-depth-3">Request Cleaner</button>

    </form>

  </div>

  <section>
    <!--Flash messages-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages %}
    <div class="row flashes request_flash_messagess z-depth-2">
      <h1 class="center-align flash_text">{{ messages }}</h1>

      <div class="flash_request_btns">
        <a href="{{ url_for('edit_request', request_id=request._id) }}"><button class="flash_btns z-depth-2">
            <img src="{{ url_for('static', filename='/images/edit_icon.png') }}" alt="" class="flash_icons">
            Edit
          </button>
        </a>
        <button class="flash_btns z-depth-2">
          <img src="{{ url_for('static', filename='/images/delete_icon_white.png') }}" alt="" class="flash_icons">
          Delete</button>
        <a href="{{ url_for('index') }}">
          <button class="flash_btns z-depth-2">
            <img src="{{ url_for('static', filename='/images/home_icon.png') }}" alt="" class="flash_icons">
            Exit</button>
        </a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>





  <!--SCRIPTS-->
  {% include 'components/scripts.html' %}


  <script>
    $('#user_message').on('blur', function () {
      $('#submit_basiclean_form').animate({
        opacity: '1'
      })
    })

    // INITIALIZE DATEPICKER

    $('.datepicker').datepicker({
      format: "dd mmmm, yyyy",
      yearRange: 3,
      showClearBtn: true,
      i18n: {
        done: "select"
      }
    });
  </script>
</body>

</html>