<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid - Cleaner Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

</head>

<body id="accountBody" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">

    {% for user_details in user_details %}
    {{ user_details.user_name }}<br>
    {{ user_details.user_contact }}<br>
    {{ user_details.user_postcode }}<br>
    {% endfor %}

    <div class="top_contents_account">
        <h3 class="account_title">OneHourmaid</h3>
        <span class="cleaner_acc_tag">Cleaner Account</span>
    </div>

    <!--User's avatar-->
    <div class="avatar_wrap">
        <div class="avatar_border">
            <img src="/static/images/fake_avatar.png" alt="" class="avatar">
        </div>
        <span id="username_display">{{ username }}</span>

    </div>

    <!--Pending Jobs-->
    <p class="pending_jobs_blurb">Below are your pending jobs.<br>Tap on a task to view more details and respond<br>to
        a request.</p>

    <p class="pending_jobs_text">Pending jobs<br>
        <span id="amount_pend_jobs">4</span>
    </p>

    <!-- <ul class="pending_jobs">
        <li class="z-depth-2 request_items" id="request_item1">Rafael Carr</li>
        <li class="z-depth-2 request_items" id="request_item2">Elizabeth Russell</li>
        <li class="z-depth-2 request_items" id="request_item3">Brandon Barnes</li>
        <li class="z-depth-2 request_items" id="request_item4">June Graham</li>
    </ul> -->

    <ul class="collapsible popout pending_jobs">
        <li>
            <!-- {% for name in categories %} -->
            <div class="collapsible-header request_item_header">
                <i class="fas fa-comment-dots"></i>
                Rafael Carr
                <!-- <span class="badge"></span> -->
            </div>
            <!-- {% endfor %} -->

            <div class="collapsible-body request_info">
                <span>Address:<br>
                    <!-- {% for user_details in user_details %} -->
                    <span class="light_text" id="customer_address">
                        <!--{{ category.category_title }}-->9957 Oak Lawn Ave</span>
                    <!-- {% endfor %} -->
                </span><br>
                <span>Contact number:<br>
                    <!-- {% for contact in categories %} -->
                    <span class="light_text" id="customer_contact">(513)-636-3643</span>
                    <!-- {% endfor %} -->
                </span><br>
                <span>Customer request:<br>
                    <!-- {% for customer_request in categories %} -->
                    <span class="light_text italic_text" id="customer_request">Please come and clean my kitchen!</span>
                    <!-- {% endfor %} -->
                </span><br>

            </div>
        </li>
        <li>
            <div class="collapsible-header request_item_header">
                <i class="fas fa-comment-dots"></i>
                Elizabeth Russell
                <span class="badge"></span></div>
            <div class="collapsible-body request_info">
                <span>Address:<br>
                    <span class="light_text" id="customer_address">4061 Country Club Rd</span>
                </span><br>
                <span>Contact number:<br>
                    <span class="light_text" id="customer_contact">(494)-325-3626</span>
                </span><br>
                <span>Customer request:<br>
                    <span class="light_text italic_text" id="customer_request">Can i get my carpets steamed
                        please!?</span>
                </span><br>
            </div>
        </li>
        <li>
            <div class="collapsible-header request_item_header">
                <i class="fas fa-comment-dots"></i>
                Brandon Barnes
                <span class="badge"></span></div>
            <div class="collapsible-body request_info">
                <span>Address:<br>
                    <span class="light_text" id="customer_address">7471 Robinson Rd</span>
                </span><br>
                <span>Contact number:<br>
                    <span class="light_text" id="customer_contact">(015)-527-7516</span>
                </span><br>
                <span>Customer request:<br>
                    <span class="light_text italic_text" id="customer_request">I need a deep clean in my
                        bathroom.</span>
                </span><br>
            </div>
        </li>
        <li>
            <div class="collapsible-header request_item_header">
                <i class="fas fa-comment-dots"></i>
                June Graham
                <span class="badge"></span></div>
            <div class="collapsible-body request_info">
                <span>Address:<br>
                    <span class="light_text" id="customer_address">9580 Mockingbird Hill</span>
                </span><br>
                <span>Contact number:<br>
                    <span class="light_text" id="customer_contact">(512)-616-2574</span>
                </span><br>
                <span>Customer request:<br>
                    <span class="light_text italic_text" id="customer_request">I need a basic clean throughout please,
                        thanks!</span>
                </span><br>
            </div>
        </li>
    </ul>

    <button class="sign_out_btn">Sign out</button>




    <script src="http://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>

</body>

</html>