<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneHourmaid - Cleaner Profile</title>
    {% include 'components/head.html' %}


</head>

<body id="accountBody" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">



    <div class="top_contents_account">
        <h3 class="account_title">OneHourmaid</h3>
        <span class="cleaner_acc_tag">Cleaner Account</span>
    </div>

    <!--User's avatar-->
    <div class="avatar_wrap">
        <div class="avatar_border">
            <img src="/static/images/fake_avatar.png" alt="" class="avatar">
        </div>
        <span id="username_display">{{ username }}</span>

    </div>




    <!-- Pending Jobs-->
    <p class="pending_jobs_blurb">Below are your pending jobs.<br>Tap on a task to view more details and respond<br>to
        a request.</p>

    <p class="pending_jobs_text">Pending jobs<br>
    </p>

    <div class="pending_jobs_wrap">

        {% for user_detail in user_details: %}
        <a class="job_card modal-trigger" href="#modal1"> {{ user_detail.user_name }} {{ user_detail.user_lname }}</a>
        {% endfor %}

        <div id="modal1" class="modal request_info_wrap">
            {% for user_detail in user_details: %}
            <div class="modal-content request_info_card">

                <h4 class="request_name_header">{{ user_detail.user_name }} {{ user_detail.user_lname }}</h4>
                <p class="request_info"><span class="request_title">Request
                        Address:</span><br>{{ user_detail.user_street }}<br>{{ user_detail.user_postcode }}</p><br>
                <p class="request_info"><span class="request_title">Contact
                        Number:</span><br>{{ user_detail.user_contact }}</p><br>
                <p class="request_info"><span class="request_title">Requested
                        Date:</span><br>{{ user_detail.user_date }}</p><br>
                <div class="deep_clean_section">
                    <p class="request_info" style="color: #000;"><span class="request_title">Deep Clean
                            for:</span><br>{{ user_detail.carpet_clean }}<br>{{ user_detail.floor_steam }}<br>
                        {{ user_detail.white_goods }}<br>{{ user_detail.window_clean }}
                    </p>
                </div><br>
                <hr style="margin: 0;">
                <p class="request_info"><span class="request_title">Customer
                        Message:</span><br>{{ user_detail.user_message }}</p>

            </div>
            <div class="modal-footer job_card_btn_wrap">
                <a href="{{ url_for('reply_to') }}" class="modal-close replyto_btn">Reply to
                    {{ user_details.user_name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>



    <a href="{{ url_for('index') }}"><button class="sign_out_btn">Sign out</button></a>




    {% include 'components/scripts.html' %}


</body>

</html>