<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account</title>
    {% include 'components/head.html' %}


</head>

<body id="registerBody" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">

    <a href="{{ url_for('index') }}">
        <div class="back_btn" style="z-index: 100;">
            <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon">
        </div>
    </a>



    <div class="main_title">
        <h3 class="title">{{ title }}</h3>
        <p class="title_blurb">We'll need a few details in order<br>to get you signed up.</p>
    </div>


    <!--Register form-->

    <div class="row reg_form_wrap">
        <div class="col s12">
            <div class="row">

                <form id="registration_form" method="POST" action="{{ url_for('register') }}">

                    <div class="input-field col s12">
                        <input type="text" id="username_reg" name="username_reg" class="autocomplete validate"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="username_reg">Choose a username</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="password" id="password_reg" name="password_reg" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="autocomplete validate">
                        <label for="password_reg">Choose a password</label>
                    </div>

                    <div class="reg_info_box username_info">
                        <h4 class="info_header_text">Username must contain:</h4>
                        <span class="input_checks" id="min_user">Minimum 5 characters</span>
                        <span class="input_checks" id="max_user">Maximum 12 characters</span>
                    </div>

                    <!--Type of provided service-->

                    <div class="type_of_service">
                        <p class="service_blurb">Choose the type of cleaning service<br> you will be providing</p>

                        <div class="row cards_wrap">

                            <!--Basic clean service-->
                            <div class="col s4 m4">
                                <div class="card-panel basic_clean_card service_cards">
                                    <img src="/static/images/basic_clean.png" alt="" class="ser_card_img">
                                    <p class="basic_clean_tag">Basic Clean</p>
                                </div>
                            </div>

                            <!--Deep clean service-->
                            <div class="col s4 m4">
                                <div class="card-panel deep_clean_card service_cards">
                                    <img src="/static/images/deep_clean.png" alt="" class="ser_card_img">
                                    <p class="basic_clean_tag">Deep Clean</p>

                                </div>
                            </div>

                            <!--I help move service-->
                            <div class="col s4 m4">
                                <div class="card-panel moving_card service_cards">
                                    <img src="/static/images/help_move.png" alt="" class="ser_card_img">
                                    <p class="basic_clean_tag">I help move</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button type="submit" id="submit_reg_form_btn">Submit Details</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes username_flash_message z-depth-2">
            <h4 class="center-align flash_text">{{ messages }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>


    {% include 'components/scripts.html' %}

    <script>
        var username_input = document.getElementById("username_reg");
        if (username_input = "") {
            document.getElementById("submit_reg_form_btn").disabled = true;
        } else {
            document.getElementById("submit_reg_form_btn").disabled = false;
        }
    </script>


</body>

</html>