<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to your account</title>
    {% include 'components/head.html' %}


</head>

<body id="siginBody" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">


    <a href="{{ url_for('index') }}">
        <div class="back_btn" style="z-index: 100;">
            <img src="{{ url_for('static', filename='/images/back_icon.png') }}" alt="" class="home_icon">
        </div>
    </a>



    <div class="main_title">
        <h3 class="title">oneHourmaid</h3>
        <p class="title_blurb">Sign in to your account to view any<br> pending jobs</p>
    </div>


    <form method="POST" action="{{ url_for('signin') }}" class="s12 signin_form">
        <div class="row">

            <!--Username-->
            <div class="input-field col s12">
                <input id="username" name="username" minlength="5" maxlength="50" type="text" class="validate">
                <label class="username_label" for="username">Username</label>
            </div>

            <!--Password-->
            <div class="input-field col s12">
                <input id="password" name="password" minlength="5" maxlength="50" type="password" class="validate">
                <label for="password">Password</label>
            </div>

            <div class="signin_page_btns">
                <a href="{{ url_for('signin') }}"><button type="submit" id="sign_in_btn" class="z-depth-1">Sign
                        in</button></a>

                <a href="{{ url_for('register') }}"><button type="submit"
                        id="register_cleaner_btn">Register</button></a>

            </div>
        </div>
    </form>

    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes registered_flash_messages z-depth-2">
            <h4 class="center-align flash_text">{{ messages }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>


    {% include 'components/scripts.html' %}


</body>

</html>