<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - View Request</title>
    {% include 'components/head.html' %}

</head>

<body id="basic_clean_body" background="{{ url_for('static', filename='images/sunset_bg_full.png') }}"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;">



    <!--TOP CONTENTS-->
    <div class="top_contents_wrapper__basiclean">
        <h1 class="customer_details_title">{{ title }}</h1>
        <p class="customer_details_blurb">View the details of request below, hit "Edit" to make any changes.</p>

    </div>

    <div class="requested_info">
        {% for request_details in basic_clean_details: %}
        <h5 class="requested_name">{{ request_details.user_name }}</h5>
        {% endfor %}
    

    </div>




    {% include 'components/scripts.html' %}

</body>

</html>